.e2e {
    .content {
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 14px;
        }

        ul {
            list-style-type: square !important;
            li {
                list-style-type: square !important;

            }
        }


    }
    .banner {
        width: 1000px;
        max-width: 95%;
    }

    .inline-list {
        padding-left: 16px;
    }

}