<div class="no-messages-page">
    <div class="card">

        {{#if isSyncing}}
            <div class="title">Syncing Up</div>
            <div class="subtitle">Just a moment while we set up you!</div>
            {{loading-view}}
        {{else}}
            <div class="title">No Messages</div>
            <div class="subtitle">Make sure you have signed into the Android application and have internet access.</div>

            Don't have the app? Enter your number and we'll text you a link!
            {{phone-input}}

            <a class="logout" {{action 'logOut'}}>Sign in with a different account</a>
        {{/if}}
    </div>
</div>