.link-preview {
    //border-left: 2px solid white;
    margin-top: 16px;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.4);

    .preview-container {
        max-width: 100%;
        max-height: 150px;
        display: inline-block;
        overflow: hidden;
        display: flex;
        align-content: center;
        justify-content: center;

        .full-image {
            height: 150px;
        }

        .thumb-container {
            height: 150px;
            width: 150px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            flex-shrink: 0;
            margin-right: 8px;

            .thumb-image {
                height: 100%;
            }
        }

        .web-info {
            flex-shrink: 1;
            flex-direction: column;
            display: flex;

            .title {
                font-weight: 500;
            }

            .description {
                font-size: 14px;
            }
        }

    }

    .link {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .show-preview {
        margin-top: 4px;
        font-size: 12px;
        cursor: pointer;
        opacity: 0.8;
    }

    loading {
        margin: 8px auto;
        width: 100%;
        display: block;
    }

    display: none;
    &.visible {
        display: block;
    }

}