@mixin elevation($height) {
    @if $height == 1 {
        //box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }
    @if $height == 1.5 {
        //box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.26);
    }
    @if $height == 2 {
        //box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
    }
    @if $height == 3 {
        //box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
        box-shadow: 0 12px 15px 0 rgba(0,0,0,.24);
    }
    @if $height == 4 {
    }
    @if height == 5 {
    }
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

// dimens
$side-bar-width: 300px;
$row-height: 80px;
$send-box-height: 80px;

$colorPrimary:#fff;
$colorPrimaryDark: #374D63;
$colorActive: #405a73;

$colorAccent: #03a9f4;
$colorAccentSecondary: #BDC3C7;

$textLight: #fdf6e3;
$textDark: #555;
$textSecondary: rgba(255, 255, 255, 0.5);
$textDarkSecondary: rgba(43,56,70, 0.6);

$borderColor: rgba(255, 255, 255, 0.2);

$errorColor: #f44336;

$green: #4caf50;


// Some base styles...

body {
    color: $textDark;
}

img.logo {
    margin-right: 20px;
}

.logo {
    font-weight: 400;
    cursor: pointer;
    color: $textLight;
    font-size: 26px;
    max-height: 60px;
    @media (max-width: 700px) {
        max-height: 40px;
    }
    &.large {
        font-size: 40px;
        max-height: 80px;
    }
}


.ember-application {
    margin: 0;
    background-color: $colorPrimary;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.emoji {
    width: 22px;
    padding: 0 2px;
    vertical-align: middle;
}

$navbarHeight: 80px;

.nav-bar {
    position: fixed;
    height: $navbarHeight;
    padding: 12px;
    background: white;
    z-index: 9999;
    display: flex;
    top: 0;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    left: 0;
    right: 0;

    @media (max-width: 1000px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    .logo {
        height: 52px;
        vertical-align: middle;
    }

    span {
        font-size: 20px;
    }

    .grow {
        display: flex;
        flex-grow: 1;
    }

    a {
        font-size: 16px;
        font-weight: 500;
        margin-right: 32px;

        &:first-child {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.ember-view {

    h1 {
        color: #070707;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        margin: 0 0 16px 0;
        font-family: 'Open Sans', sans-serif;
    }
    h2 {
        color: #070707;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        margin: 0;

        &.small {
            font-size: 28px;
        }
    }
}
.cta {
    display: inline-block;
    background: $colorAccent;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 20px;

    i {
        vertical-align: middle;
    }

    &.large {
        margin-top: 32px;
        font-size: 17px;
        padding: 12px 24px;
    }

    &:hover {
        background: #0099de;
    }
}

// pods
@import "./pods";