@mixin elevation($height) {
    @if $height == 1 {
        //box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }
    @if $height == 2 {
        //box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
    }
    @if $height == 3 {
        //box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
        box-shadow: 0 12px 15px 0 rgba(0,0,0,.24);
    }
    @if $height == 4 {
    }
    @if height == 5 {
    }
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

// dimens
$side-bar-width: 300px;
$row-height: 80px;
$send-box-height: 80px;

$colorPrimary:#f7f7f7;
$colorPrimaryDark: #374D63;
$colorActive: #405a73;

$colorAccent: #64b5f6;
$colorAccentSecondary: #BDC3C7;

$textLight: #fdf6e3;
$textDark: rgba(0, 0, 0, .6);
$textSecondary: rgba(255, 255, 255, 0.5);
$textDarkSecondary: rgba(43,56,70, 0.6);

$borderColor: rgba(255, 255, 255, 0.2);

$errorColor: #f44336;

$green: #4caf50;

.ember-view > .btn {
    background-color: $colorAccent;
}

.ember-view > .btn-floating {
    background-color: $colorAccent;
}

// pods
@import "./pods";

.ember-application {
    margin: 0;
    background-color: $colorPrimary;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.emoji {
    width: 22px;
    padding: 0 2px;
}
