.subscription-box {

    &.completed {
        .form >.sub-input {
            border-color: #4caf50 !important;
        }
        .form >.button {
            background: #4caf50;
            &:hover {
                background: #4caf50;
            }
        }
    }

    &.error {
        .form >.sub-input {
            border-color: $errorColor !important;
        }
        .form >.button {
            background: $errorColor;
            &:hover {
                background: $errorColor;
            }
        }
    }


    .form {
        max-width: 400px;
        display: flex;

        $sub-box-height: 52px;

        margin: 32px 0 0 0;


        .sub-input {
            background: white !important;
            flex-grow: 1;
            padding: 8px 20px !important;
            margin: 0 !important;
            border-top-left-radius: 8px !important;
            border-bottom-left-radius: 8px !important;
            height: $sub-box-height !important;
            border: 2px solid #eee !important;
            box-sizing: border-box !important;

            font-size: 18px !important;

            &:focus {
                border-color: $colorAccent !important;
            }

            &::placeholder {
                color: rgba(0, 0, 0, 0.3);
            }
        }

        .button {
            background: $colorAccent;
            color: white;
            height: $sub-box-height;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            width: 240px;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 14px;


            transition: all 0.3s;

            &:hover {
                background: #2196f3;
            }
        }

        .spinner-white-only {
            border-color: white;
        }

        .preloader-wrapper.small {
            width: 24px;
            height: 24px;
        }

    }

}