{{#if alert}}
    <div class="alert">
        <div class="title">{{{alert.title}}}</div>
        <div class="close">
            <i class="material-icons" {{action 'dismissAlert'}}>close</i>
        </div>
    </div>
{{/if}}