.landing {
    padding-top: 90px;
    position: relative;

    @media (max-width: 1000px) {
        text-align: center;
    }

    h1 {
        color: #070707;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        margin: 0 0 16px 0;
        font-family: 'Open Sans', sans-serif;
    }

    h2 {
        color: #070707;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
    }

    .description {
        font-size: 18px;
        line-height: 1.5em;
        margin-top: 40px;
        max-width: 400px;
        @media (max-width: 1000px) {
            margin: 40px auto 0 auto;
        }
    }

    .subscription-box {
        .form {
            @media (max-width: 1000px) {
                margin: 32px auto;
            }
        }
    }

    .section {
        display: flex;
        align-items: center;
        max-width: 80%;
        min-height: 80vh;
        &.reverse {
            @media (max-width: 1000px) {
                flex-direction: column-reverse;
            }

        }
        &.big {
            max-width: 90%;
        }
        @media (max-width: 1000px) {
            flex-direction: column;
            max-width: 100%;
        }
    }

    .section-item {
        display: inline-block;
        margin-right: 10%;
        margin-left: 5%;
        height: fit-content;
        position: relative;

        @media (max-width: 1000px) {
            margin-top: 10%;
            margin-right: 16px;
            margin-left: 16px;
        }
    }

    .left-side {
        margin-left: 15%;
        @media (max-width: 1000px) {
            margin-left: 16px;
        }
    }

    .first-section {
        min-height: calc(100vh - 80px);
        max-width: 1600px;
        margin-right: 5%;
        margin-left: 5%;
        @media (max-width: 1000px) {
            min-height: 0;
        }

        .section-item {
            margin-bottom: 128px;
            @media (max-width: 1000px) {
                margin-bottom: 0;
            }
        }
        .text-side {
            min-width: 35%;
            margin-right: 0;
            margin-left: 10%;
            z-index: 1;
            @media (max-width: 1000px) {
                margin-left: 16px;
            }
        }
        .image-side {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .second-section {
        .image-side {
            margin-top: 0;
            @media (max-width: 1000px) {
                margin-top: 15%;
            }
        }
    }

    .text-side {
        z-index: 1;
        &.spacing-bottom {
            padding-bottom: 250px;
            @media (max-width: 1000px) {
                padding-bottom: 0;
            }
        }
    }
    
    .image-side {
        z-index: 0;
    }

    .image-side > img {
        max-width: 100%;
        max-height: 80vh;
    }

    .appearing {
        opacity: 0;
        transition: all .4s;
        transform: translateY(20px);
    }
    .big-shift {
        transform: translateY(80px);
    }

    .visible {
        opacity: 1;
        transform: translateY(0);
    }

    .block {
        display: block;
        width: 100%;
    }

    .nav-bar {
        position: fixed;
        height: 80px;
        padding: 12px;
        background: white;
        z-index: 9999;
        display: flex;
        top: 0;
        align-items: center;
        width: 80%;
        left: 10%;

        @media (max-width: 1000px) {
            left: 5%;
            width: 90%;
        }

        .logo {
            height: 52px;
            vertical-align: middle;
        }

        span {
            font-size: 20px;
        }

        .grow {
            display: flex;
            flex-grow: 1;
        }

        a {
            font-size: 16px;
            font-weight: 500;
        }
    }

    #login-screen {
        img {
            margin: 0 auto;
            display: block;
            transform: rotate(-6deg);
        }

        &:after {
            transform: rotate(-6deg);
        }
    }

    #chat-screen {
        img {
            margin: 0 auto;
            display: block;
            transform: rotate(-6deg);
        }

        &:after {
            transform: rotate(-6deg);
        }
    }

    .comp-window {
        border: 1px solid #ddd;
        border-radius: 8px;
        @include elevation(2);
        font-size: 0;
        img {
            max-width: 100%;
        }
        .nav {
            padding: 8px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #eee;
            .button {
                height: 12px;
                width: 12px;
                border-radius: 12px;
                margin-right: 4px;
                .red { background: red; }
                .yellow { background: yellow; }
                .green { background: green; }
            }
        }
    }

    .phone-halo {
        position: relative;
        padding: 40px 0 40px 0;
        &:after {
            content: '';
            position: absolute;
            top: -10%;
            bottom: -10%;
            left: -30%;
            right: -30%;
            width: 160%;
            height: 120%;
            background:radial-gradient( rgba(0, 0, 0, 0.5), #fff 65%);
            z-index: -1;

            @media (max-width: 1000px) {
                width: 120%;
                left: -15%;
                right: 0;
            }
        }
    }

    .centered {
        text-align: center;
        margin: 48px 24px;
        .form {
            margin: 32px auto;
        }
    }


    .footer {
        background: #eee;
        padding: 24px 0 16px 0;
        font-weight: 500;
        margin-top: 100px;

        .row {
            display: flex;
            justify-content: center;
        }

        .container {
            @media (max-width: 700px) {
                max-width: 90%;
                width: 90%;
            }
        }
    }


}