.landing {
    padding-top: 90px;
    position: relative;

    max-width: 80% !important;
    width: 80% !important;

    h1 {
        color: #070707;
        font-size: 50px;
        line-height: 50px;
        font-weight: 700;
        margin: 0 0 16px 0;
        font-family: 'Open Sans', sans-serif;
        text-align: left;

        @media (max-width: 700px) {
            text-align: center;
        }
    }

    h2 {
        color: #070707;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        text-align: left;
        @media (max-width: 700px) {
            text-align: center;
        }
    }

    .description {
        font-size: 18px;
        line-height: 1.5em;
        margin-top: 40px;
        max-width: 400px;
        text-align: left;
    }

    .section {
        padding: 5% 0 5% 0;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .text-side {
        display: flex;
        flex-direction: column;
        max-width: 30%;
        margin: 2.5%;
    }

    .image-side {
        display: flex;
        margin: 2.5%;
    }

    .image-side > img {
        max-width: 100%;
        max-height: 80vh;
    }

    .bigger {
        max-width: 55%;
        flex-grow: 1;
        margin: 0;
    }

    .appearing {
        opacity: 0;
        transition: all .4s;
        transform: translateY(20px);
    }

    .visible {
        opacity: 1;
        transform: translateY(0);
    }

    .block {
        display: block;
        width: 100%;
    }

    .nav-bar {
        position: fixed;
        height: 80px;
        padding: 12px;
        background: white;
        z-index: 9999;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;

        .logo {
            display: flex;
            align-items: center;
            img {
                height: 52px;
                width: 52px;
                margin-right: 8px;
            }
            .text {
                color: $textDark;
                display: inline-block;
                font-weight: 400;
                font-size: 24px;
            }
        }

        .grow {
            display: flex;
            flex-grow: 1;
        }

        a {
            font-size: 16px;
            font-weight: 500;
        }
    }

}