<div class="landing container">
    <div class="nav-bar">
        {{#link-to 'index'}}<img src="/images/logo.png" class="logo">{{/link-to}}
        <div class="grow"></div>
        {{#link-to 'login'}}Log In{{/link-to}}
    </div>

    <div class="section row">

        <div class="col m12 l4">
            <div class="text-side left-side">

                <h1 class="appearing" delay="200">Text From Your Computer.</h1>
                <h2 class="appearing" delay="1500">For Free.</h2>
                <div class="description appearing" delay="2400">
                    Enjoy feature rich messaging through Textto's website or desktop applictions.
                </div>
                <div class="appearing" delay="2500">
                    {{subscription-box email=email completed=completed}}
                </div>
            </div>
        </div>

        <div class="col m12 l7 image-side">
            <div class="block">{{conversation-demo}}</div>
        </div>

    </div>

    <div class="section row">
        <div class="col m12 l6">
            <div class="image-side left-side">
                <img src="/images/screen.png">
            </div>
        </div>
        <div class="col m12 l6">
            <div class="text-side left-side">
                <h2 class="appearing">Simple.</h2>
                <div class="description appearing" delay="200">
                    <p>Get started in seconds.</p>
                    <p>Just install the Textto Android app and sign in with Google to connect your device.</p>
                    <p>Once your device is connected, use Textto's website or desktop applications to seamlessly text through your phone.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section row">
        <div class="col m12 l6">
            <div class="text-side left-side">
                <h2 class="appearing">Keep your texting app.</h2>
                <div class="description appearing" delay="200">
                    <p>Textto syncs with your existing texting app.</p>
                    <p>Whether you use the default texting app or a third party app, we've got you covered. With Textto, there's no need to comprimise.</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col m12 l6">
            <div class="image-side left-side">
                <img src="/images/screen.png">
            </div>
        </div>
    </div>

</div>