<div class="landing">
    <div class="first-section">
        <div class="nav">
            <img class="logo" src="/images/logo.png">
            <span class="logo-name">Textto</span>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s12 m12 l5 text-center">
                    <div class="title">Text From Your Computer</div>
                    <div class="subtitle">With the Free Website and App</div>
                    <div class="badges hide-on-small-only">
                        <img src="/images/web-badge.png" {{ action 'openWeb'}}>
                        <img id="google" src="/images/google-play-badge.png">
                    </div>
                </div>
                <div class="col s12 m12 l7">
                    {{conversation-demo}}
                </div>
                <div class="badges hide-on-med-and-up col s12">
                    <img id="google" src="/images/google-play-badge.png">
                </div>
            </div>
        </div>

        <i class="material-icons down" {{action 'scrollDown'}}>keyboard_arrow_down</i>
    </div>

    <div class="second-section">
        <div class="container">
            <div class="row">
                <div class="col s12 l4">
                    <img class="promo-image appearing" id="promo1" src="/images/piggy-bank.png">
                    <div class="title">Free to Use</div>
                    <div class="subtitle">
                        Enjoy free texting, group messaging, and picture messaging.
                    </div>
                </div>
                <div class="col s12 l4">
                    <img class="promo-image appearing" id="promo2"  src="/images/computer.png">
                    <div class="title">Cross Platform</div>
                    <div class="subtitle">
                        Use the Web App, or download the Mac, Windows, or Linux desktop applications.
                    </div>
                </div>
                <div class="col s12 l4">
                    <img class="promo-image appearing" id="promo3" src="/images/chat.png">
                    <div class="title">Simple</div>
                    <div class="subtitle">
                        We'll sync with your existing texting app. Don't change a thing!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="third-section">
        <div class="container">
            <div class="row">
                <div class="col s4 hide-on-small-only">
                    <img class="appearing" id="promo-screenshot" src="/images/screen.png">
                </div>
                <div class="col s12 l8">
                    <div class="title">
                        Keep Your Texting App
                    </div>
                    <div class="hide-on-med-and-up">
                        <img class="appearing" id="promo-screenshot-small" src="/images/screen.png">
                    </div>
                    <div class="subtitle">
                        Textto syncs with your existing sms app.<br>
                        Simply install the Android client to connect to your computer.
                    </div>
                    <div class="badges">
                        <img id="google" src="/images/google-play-badge.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fourth-section">
        <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <div class="title">Start Texting For Free</div>
                </div>
                <div class="col m6 s12">
                    <div class="button" {{action 'openWeb'}}>Launch the Web App</div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col m2 s6">
                    &copy; Textto 2017
                </div>
                <div class="col m2 s6">
                    <a href="/downloads">Downloads</a>
                </div>
                <div class="col m2 s6">
                    <a href="/legal/privacy">Privacy Policy</a>
                </div>
                <div class="col m2 s6">
                    <a href="/legal/terms">Terms of Service</a>
                </div>
                <div class="col m2 s6">
                    <a href="mailto:help@textto.io">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>