<div class="landing">
    <div class="first-section">
        <div class="nav">
            <div class="logo-placeholder"></div>
            <span class="logo-name">Textto</span>
        </div>

        <div class="row">
            <div class="col s12 m12 l5 text-right">
                <div class="title">Text Anywhere</div>
            </div>
            <div class="col s12 m12 l7">
                {{conversation-demo}}
            </div>
        </div>

    </div>
</div>