
.content-container {
    position: fixed;
    width: calc(100% - 300px);
    top: $row-height;
    left: $side-bar-width;
    bottom: 0;
    max-width: 1000px;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
}

.messages {

    animation: fadeIn .15s;

    overflow-y: auto;
    padding: 0px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    text-align: right;

    &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $colorPrimaryDark;
    }

}

top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    display: flex;
    height: $row-height;
    @include elevation(1);

    .right-content {
        position: absolute;
        left: $side-bar-width;
        padding: 0 32px;
        display: flex;
        align-items: center;
        height: $row-height;
    }

    .name {
        font-size: 1.2em;
        margin-left: 16px;
        color: $textLight;
    }
}