<div class="computer">
    <upper>
        <div class="screen">
            <div class="top-bar">
                <div class="circle red"></div>
                <div class="circle yellow"></div>
                <div class="circle green"></div>
                <div class="name">Textto</div>
            </div>
            <div class="demo-threads threads">
                <thread-view>
                    <div class="skeleton-contact"></div>
                    <div class="details">
                        <div class="skeleton-name"></div>
                        <div class="skeleton-snippet"></div>
                    </div>
                </thread-view>
                <thread-view>
                    <div class="skeleton-contact"></div>
                    <div class="details">
                        <div class="skeleton-name"></div>
                        <div class="skeleton-snippet"></div>
                    </div>
                </thread-view>
                <thread-view>
                    <div class="skeleton-contact"></div>
                    <div class="details">
                        <div class="skeleton-name"></div>
                        <div class="skeleton-snippet"></div>
                    </div>
                </thread-view>
                <thread-view>
                    <div class="skeleton-contact"></div>
                    <div class="details">
                        <div class="skeleton-name"></div>
                        <div class="skeleton-snippet"></div>
                    </div>
                </thread-view>
            </div>
            <div class="demo-content">
                <div class="demo-messages">
                    {{#each messages as |message|}}
                        <message-view class={{message.class}}>
                            <message-bubble class={{message.length}}></message-bubble>
                        </message-view>
                    {{/each}}
                </div>
                <send-box contentEditable='true' placeholder='Message John...'></send-box>
            </div>
        </div>
    </upper>
    <lower></lower>
</div>