mms-part {
    display: inline-block;

    .small-contact {

        vertical-align: bottom;
        margin-right: 8px;

        .circular {
            height: 36px;
            width: 36px;
        }

        .text {
            line-height: 36px;
        }

    }

    sender {
        font-size: 12px;
        color: $textSecondary;
        display: block;
        margin-top: 4px;
    }

    message-bubble > sender {
        color: $textDarkSecondary;
    }

}