send-box {
    display: flex;
    flex-shrink: 0;
    position: relative;

    send-box-input {
        flex-grow: 1;
        display: flex;
        min-height: 48px;
        margin: 32px;
        padding: 16px 64px 16px 32px;
        line-height: 16px;
        color: $textDark;
        box-sizing: border-box;
        border-radius: 24px;
        @include elevation(1);
        overflow: hidden;

        background-color: #d4d8db;
        border: none;
        resize: none;
        &:focus {
            outline: none;
        }

        &:empty:before {
            content: attr(placeholder);
            display: block;
            color: $textDarkSecondary;
        }

    }

    i {
        position: absolute;
        z-index: 2;
        right: 54px;
        top: 44px;
        color: $textDarkSecondary;
        cursor: pointer;
    }


}