send-box {
    display: flex;
    flex-shrink: 0;
    position: relative;

    send-box-input {
        width: 100%;
        min-height: 48px;
        margin: 32px;
        padding: 16px 64px 16px 32px;
        line-height: 16px;
        border-radius: 24px;
        @include elevation(1);
        overflow: hidden;

        background-color: #d4d8db;
        border: none;
        resize: none;

        transition: box-shadow .2s;
        cursor: text;

        &:focus {
            outline: none;
            @include elevation(1.5);
        }

        &:empty:before {
            content: attr(placeholder);
            display: block;
            color: rgba(0, 0, 0, 0.4);
        }
    }

    i {
        position: absolute;
        z-index: 2;
        right: 54px;
        top: 44px;
        color: $textDarkSecondary;
        cursor: pointer;
    }


}