send-box {
    display: flex;
    flex-shrink: 0;
    position: relative;

    send-box-input {
        width: 100%;
        min-height: 48px;
        margin: 32px;
        padding: 16px 100px 16px 32px;
        line-height: 16px;
        border-radius: 24px;
        @include elevation(1);
        overflow: hidden;

        border: none;
        resize: none;

        transition: box-shadow .2s;
        cursor: text;

        &:focus {
            outline: none;
            @include elevation(1.5);
        }

        &:empty:before {
            content: attr(placeholder);
            display: block;
        }

        &.disabled {
            cursor: default;
        }

    }

    i {
        position: absolute;
        z-index: 2;
        right: 54px;
        top: 44px;
        opacity: 0.8;
        cursor: pointer;

        &.emoji {
            right: 90px;
        }
    }


}