contact-picture {
    overflow: hidden;
    display: flex;
    align-content: center;

    .circular {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }

    .text {
        line-height: 50px;
        text-align: center;
        font-size: 1em;
    }

}