nav-bar {
    background-color: $colorPrimaryDark;
    width: $side-bar-width;
    height: $row-height;
    display: flex;
    position: relative;

    justify-content: center;

    i {
        color: $textLight;
        position: absolute;
        top: 20px;
        cursor: pointer;
        padding: 8px;
    }

    .logo {
        padding: 8px;
        color: $textLight;
        font-size: 20px;
        cursor: pointer;
        align-self: center;
    }

    .new {
        right: 16px;
    }

    .hamburger {
        left: 16px;
    }

    .side-nav {
        z-index: 9999;
    }
}