<i class="material-icons hamburger color-text-secondary" data-activates="side-nav">menu</i>
<span class="logo color-text-secondary" {{action 'goHome'}}>Textto</span>
<i class="material-icons new color-text-secondary" {{action 'openSendModal'}}>chat</i>