<div class="nav-bar">
    {{#link-to 'index'}}<img src="/images/logo.png" class="logo">{{/link-to}}
    {{#link-to 'index'}}<span>Textto</span>{{/link-to}}
    <div class="grow"></div>
    {{#link-to 'faq'}}Downloads{{/link-to}}
    {{#link-to 'faq'}}FAQ{{/link-to}}
    {{#link-to 'login'}}Log In{{/link-to}}
</div>
<div class="change-log">
    {{#each model as |change|}}
        <div class="change">
            <div class="date">{{change.date}}</div>
            <div class="description">{{{change.description}}}</div>
        </div>
    {{/each}}
</div>