.modal.upload-modal {
    max-width: 400px;
    min-height: 300px;

    .center {
        margin-top: 20%;
        width: 100%;
        text-align: center;
        .file-field {
            display: inline-block;
        }
    }

    .preview {
        margin: 0 auto 64px auto;
        max-width: 300px;
        max-height: 200px;
        display: block;
    }

    .errors {
        margin-top: 16px;
        text-align: center;
        color: $errorColor;
    }

}