.side-nav {
    

    .padded-item {
        padding: 4px 0;
    }

    .user-view {
        color: $textLight;
        margin-bottom: 0 !important;

        .background > img {
            width: 100%;
        }

    }

    .bounded {
        max-width: 112px;
        display: inline-block;
        line-height: 22px;
    }

    .switch {
        float: right;
        line-height: 44px;
    }

    .logout {

        position: absolute;
        bottom: 72px;
        width: 100%;

        a {
            color: $errorColor;
        }
        .material-icons {
            color: $errorColor;
        }
    }

    .contact-loader {
        float: right;
    }

    .divider {
        margin-top: 0 !important;
    }

}