photo-modal {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);

    animation: fadeIn .15s ease-in;

    img {
        max-height: 80vh;
        max-width: 80vw;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

}