login-view {
    background: #fff;
    border-radius: 8px;
    padding: 24px 40px;
    text-align: center;
    display: inline-block;
    width: 300px;

    .title {
        font-size: 2em;
        font-weight: 300;
    }

    loading {
        margin: 8px auto;
        display: block;
    }

    img {
        cursor: pointer;
        margin-top: 16px;
        display: inline-block;
    }

    .subtext {
        font-size: 12px;
        margin-top: 12px;
        color: $textDarkSecondary;
    }

}