<a href="/" class="logos">
    <img class="logo" src="/images/logo.png">
    <div class="logo" >Textto</div>
</a>
{{#if isLoading }}
    {{loading-view}}
{{else}}
    <img class="sign-in" src="/images/g-signin.png" {{action 'login'}}>
{{/if}}
{{#if error}}
    <div class="error">An error occured during sign in. Try again in a minute.</div>
{{/if}}
<div class="subtext">
    By using this site you agree to the <a href="/legal/terms">terms and conditions</a> and <a href="/legal/privacy">privacy policy</a>.
</div>