<div class="nav-bar">
    {{#link-to 'index'}}<img src="/images/logo.png" class="logo">{{/link-to}}
    {{#link-to 'index'}}<span>SendLeap</span>{{/link-to}}
    <div class="grow"></div>
    {{#link-to 'faq'}}Downloads{{/link-to}}
    {{#link-to 'faq'}}FAQ{{/link-to}}
    {{#link-to 'login'}}Log In{{/link-to}}
</div>
<div class="legal-page">
    {{outlet}}
</div>