thread-view {
    min-height: $row-height;
    height: $row-height;
    border-bottom: 1px solid $borderColor;
    padding: 0 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    .details {
        display: inline-block;
        margin-left: 16px;
    }

    .name {
        color: $textLight;
        margin-bottom: 8px;

        max-width: 180px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .snippet {
        color: $textSecondary;
        font-size: .9em;

        max-width: 180px;

        .emoji-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .emoji {
            vertical-align: middle;
        }
    }

    .cancel {
        display: none;
        position: absolute;
        top: 8px;
        right: 8px;
        color: white;
        font-size: 14px;
    }

    &.active {
        background-color: $colorActive;
    }
    &:hover {
        background-color: $colorActive;
        .cancel {
            display: block;
        }
    }
}