{{contact-picture contacts=thread.contacts length=thread.addresses.length}}
<div class="details">
    <div class="name">
        {{recipient-list contacts=thread.contacts addresses=thread.addresses}}
    </div>
    <div class="snippet">
        {{emoji-text content=thread.snippet}}
    </div>
</div>
<i class="material-icons cancel">close</i>