message-view {

    position: relative;

    @keyframes insert {
        0% {
            max-height: 0;
        }
        90% {
            max-height: 500px;
        }
        100% {
            max-height: none;
        }
    }

    margin: 6px 0;

    &.animated {
        animation: insert 0.15s ease-in;
    }

    &.hidden {
        display: none;
    }

    &.received {
        text-align: left;
        message-bubble {
            background-color: $colorAccent;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 1px;
        }
    }

    .dropdown-content {
        bottom: 48px;
        top: initial !important;
    }

    message-bubble {
        margin: 12px 0;

        position: relative;
        display: inline-block;
        padding: 12px 16px;
        border-radius: 20px;
        max-width: 300px;
        word-wrap: break-word;
        background-color: $colorAccentSecondary;
        vertical-align: middle;

        border-bottom-right-radius: 1px;
        @include elevation(1);

        &.single-emoji {
            background-color: initial !important;
            box-shadow: none !important;
            max-width: 50%;
            font-size: 50px;
            font-weight: 500;
            .emoji {
                width: 60px;
            }
        }

        .emoji-text {
            text-align: left;
            white-space: pre-line;
        }

    }

    .error {
        cursor: pointer;
        color: $errorColor;
        vertical-align: middle;
    }

    loading {
        margin: 0 8px;
    }

}