message-view {

    margin: 6px 0;

    &.hidden {
        display: none;
    }

    &.received {
        text-align: left;
        message-bubble {
            background-color: $colorAccent;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 1px;
        }
    }

    message-bubble {
        margin: 12px 0;

        position: relative;
        display: inline-block;
        padding: 12px 16px;
        border-radius: 20px;
        max-width: 300px;
        word-wrap: break-word;
        background-color: $colorAccentSecondary;
        color: $textDark;
        vertical-align: middle;

        border-bottom-right-radius: 1px;
        @include elevation(1);

    }

    .error {
        cursor: pointer;
        color: $errorColor;
        vertical-align: middle;
    }

    loading {
        margin: 0 8px;
    }

}