.sendleap {
    .content {
        h2 {
        }
        p {
            font-size: 20px;
        }

        ul {
            list-style-type: square !important;
            li {
                list-style-type: square !important;

            }
        }


    }
}