<div class="sendleap news-page">
    {{navigation-bar}}
    <h1 class="title">Textto becomes SendLeap!</h1>
    <img class="banner" src='/images/feature.png'>
    <div class="content">
        <h2>
            Textto's name may be changing, but our story is far from over.
        </h2>
        <p>
            Textto's name is changing, but our great sevice is not. SendLeap will continue to focus on security, privacy, and our awesome customers above all else.
        </p>
        <p>
            Moving forward, expect <strong>better integrations with third-party texting apps</strong>, <strong>fewer failed messages</strong>, and a <strong>slicker user interface</strong>.
        </p>
        <p>
            From the SendLeap team, thank you for your support! We hope you're as exicted as we are about what's to come!
        </p>
    </div>
</div>