.login-page {
    background: url('/images/city-small.jpg') no-repeat center center;
    //background: linear-gradient(to top right, #4F00BC, #29ABE2);
    height: 100vh;
    text-align: center;

    .logos {
        display: flex;
        margin: 0 auto 40px auto;
        align-items: center;
        justify-content: center;

        padding-top: 10%;
        @media (max-width: 700px) {
            padding-top: 30%;
        }

    }
}