.login-page {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    text-align: center;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;

    &:after {
        content: '';
        position: absolute;
        background-color: $colorAccent;
        right: -20vw;
        top: -20vh;
        bottom: -20vh;
        left: 50vw;
        transform: rotate(10deg);
        z-index: -1;

    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .logo {
        max-height: 70px;
        font-size: 35px;
        color: $colorAccent;
    }

}