<div class="login-page">
    <div class="logos">
        <img class="logo large" src="/images/logo.png" {{action 'openIndex'}}>
        <div class="logo large" {{action 'openIndex'}}>Textto</div>
    </div>
    {{login-view on-login='onLogin'}}
</div>