<div class="login-page">
    <a href="/" class="logos">
        <img class="logo large" src="/images/logo.png">
        <div class="logo large" >Textto</div>
    </a>
    {{login-view on-login='onLogin'}}
</div>