<div class="login-page">
    <div class="alert-bar">
        <div class="alert">
            <div class="title">Textto has become SendLeap! <a href="https://sendleap.com/sendleap">Read More.</a></div>
        </div>
    </div>
    {{login-view on-login='onLogin'}}
</div>