.modal.send-modal {
    max-width: 600px;
    min-height: 400px;
    background-color: $colorPrimary;
    color: $textDark;

    input {
        margin-bottom: 0;
    }

    .title {
        font-size: 1.5em;
        margin-bottom: 24px;
    }


    .to {
        .to-names {
            position: absolute;
            bottom: 32px;
            left: 0;
        }
        input {
            transition: padding-left 0s;
            box-sizing: border-box;
        }
    }

    .message {
        input {
            min-height: 100px;
        }
    }

    .results {
        position: absolute;
        top: 46px;
        background: white;
        color: $textDark;
        width: 80%;
        z-index: 9;
        .contact {
            display: flex;
            align-items: center;
            padding: 8px;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            &:hover {
                background-color: #eee;
            }
            .names {
                margin-left: 8px;
            }
        }
    }

    .errors {
        color: $errorColor;
        position: absolute;
        bottom: 32px;
        left: 32px;
        margin-right: 64px;
    }

    .bottom-right {
        position: absolute;
        bottom: 32px;
        right: 32px;
    }
}
