loading {
    width: 64px;
    text-align: center;

    div {
        width: 6px;
        height: 6px;
        background-color: $colorAccent;
        
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: loading-bounce 1.2s infinite ease-in-out both;
        animation: loading-bounce 1.2s infinite ease-in-out both;
    }

}

.dot-one {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.dot-two {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes loading-bounce {
    0%, 80%, 100% { -webkit-transform: scale(0); }
    40% { -webkit-transform: scale(1.0); }
}

@keyframes loading-bounce {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 30% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}