.modal.no-messages-modal {
    background: url('/images/poly.png');

    text-align: center;

    .title {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .subtitle {
        font-size: 20px;
    }

    loading {
        display: block;
        margin: 64px auto 0 auto;
        width: 100%;
        div {
            width: 14px;
            height: 14px;
            margin-right: 8px;
        }
    }

    #google {
        max-width: 300px;
        margin-top: 8px;
    }

    a {
        font-size: 16px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 32px;
        cursor: pointer;
    }

}