.no-messages-modal {
    color: $textDarkSecondary;
    background: url('/images/poly.png');

    text-align: center;

    .title {
        font-size: 40px;
    }

    #google {
        max-width: 300px;
    }

    a {
        cursor: pointer;
    }

    .empty-image {
        margin: 24px 0 16px 0;
        max-width: 200px;
        display: none;
    }

}