{{#if isLoading}}
    <div class="messages">
        <message-view>
            <message-bubble class="skeleton medium"></message-bubble>
        </message-view>
        <message-view class="received">
            <message-bubble class="skeleton small"></message-bubble>
        </message-view>
        <message-view class="received">
            <message-bubble class="skeleton"></message-bubble>
        </message-view>
    </div>
{{else if (or sortedScheduledMessages.length sortedMessages.length)}}
    <div class="messages">
        {{#each sortedMessages as |message index|}}
            {{#if (show-time sortedMessages index)}}
                <time>{{{format-time message.date message.body}}}</time>
            {{/if}}
            {{message-view message=message open-photo='openPhoto'}}
        {{/each}}
        {{#each sortedScheduledMessages as |message|}}
            {{message-view message=message received=false isScheduled=true}}
        {{/each}}
    </div>
{{/if}}