.upgrade-sync-limits {

    .subtitle {
        padding: 12px;
        color: #555;
        font-weight: 400;
        position: relative;

        .small {
            margin-top: 12px;
            font-size: 12px;
            font-weight: 400;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.85);
            border-radius: 8px;
            z-index: -1;
            @include elevation(1);
        }
    }

    .support {
        color: white;
        text-align: center;
        margin-top: 24px;
    }
}