{{#if isLoading}}
<div class="threads">
    <thread-view>
        <div class="skeleton-contact color-accent"></div>
        <div class="details">
            <div class="skeleton-name color-text-background"></div>
            <div class="skeleton-snippet color-text-background"></div>
        </div>
    </thread-view>
    <thread-view>
        <div class="skeleton-contact color-accent"></div>
        <div class="details">
            <div class="skeleton-name color-text-background"></div>
            <div class="skeleton-snippet color-text-background"></div>
        </div>
    </thread-view>
    <thread-view>
        <div class="skeleton-contact color-accent"></div>
        <div class="details">
            <div class="skeleton-name color-text-background"></div>
            <div class="skeleton-snippet color-text-background"></div>
        </div>
    </thread-view>
</div>
{{else}}
    <div class="threads">
        {{#if showAds}}
            {{ad-banner}}
        {{/if}}
        {{#each sortedThreads as |thread|}}
            {{thread-view thread=thread onClick=(action 'onThreadClick') delete="delete"}}
        {{/each}}
    </div>
{{/if}}