{{#if isLoading}}
<div class="threads">
    <thread-view>
        <div class="skeleton-contact"></div>
        <div class="details">
            <div class="skeleton-name"></div>
            <div class="skeleton-snippet"></div>
        </div>
    </thread-view>
    <thread-view>
        <div class="skeleton-contact"></div>
        <div class="details">
            <div class="skeleton-name"></div>
            <div class="skeleton-snippet"></div>
        </div>
    </thread-view>
    <thread-view>
        <div class="skeleton-contact"></div>
        <div class="details">
            <div class="skeleton-name"></div>
            <div class="skeleton-snippet"></div>
        </div>
    </thread-view>
</div>
{{else}}
    <div class="threads">
        {{#each sortedThreads as |thread|}}
            {{thread-view thread=thread onClick=(action 'onThreadClick')}}
        {{/each}}
    </div>
{{/if}}