{{#if threads.length}}
    <div class="threads">
        {{#each sortedThreads as |thread|}}
            {{thread-view thread=thread onClick=(action 'onThreadClick')}}
        {{/each}}
    </div>
{{/if}}