<div class="row">
    <div class="col">
        <div class="title">
            Textto Windows App.
        </div>
        <ul>
            <li>Requires Windows 64 bit</li>
            <li><strong>
                Your anti-virus software may flag Textto as dangerous. You may have to click 'Run Anyways'
            </strong></li>
            <li>Please don't hesitate to offer suggestions!</li>
        </ul>
        <a class="download-btn cta large" href="https://s3.amazonaws.com/textto.electron/win/x64/Textto-1.1.0 Setup.exe" download>
            Download <i class="material-icons">file_download</i>
        </a>
    </div>
    <div class="col">
        <img class="feature-image" src="/images/linux-screen.png">
    </div>
</div>