<script src="https://checkout.stripe.com/checkout.js"></script>
<div class="donate-page">
    {{navigation-bar hide='donate'}}

    <div class="row">

        <div class="col title-col">
            {{donation-card}}
        </div>

        <div class="col smaller">
            <div class="feature-image">
                <div class="connection-animation">
                    <div class="connection-dot one"></div>
                    <div class="connection-dot two"></div>
                </div>
            </div>
        </div>
    </div>
</div>