.faq {
    padding: 92px 32px 64px 32px;
    width: 1200px;
    max-width: 100%;

    .centered {
        text-align: center;
    }

    h2 {
        font-size: 24px !important;
        font-weight: 300 !important;
        margin-bottom: 24px !important;
    }

    .spacer {
        padding-bottom: 16px;
    }

    .questions {
        width: 600px;
        max-width: 95%;
        margin: 0 auto;
    }

    .section {
        font-size: 20px;
        font-weight: 500;
    }

    .question {

        .title {
            color: $colorAccent;

            font-size: 16px;

            margin: 8px 0;
            cursor: pointer;
            -webkit-user-select: none; /* Chrome/Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */
            i {
                vertical-align: middle;

            }
        }

        .answer {
            display: none;
            border-left: 1px solid #eee;
            font-size: 16px;
            padding: 4px 4px 4px 16px;
        }

    }

}