<div class="nav-bar">
    {{#link-to 'index'}}<img src="/images/logo.png" class="logo">{{/link-to}}
    {{#link-to 'index'}}<span>Textto</span>{{/link-to}}
    <div class="grow"></div>
    {{#link-to 'login'}}Log In{{/link-to}}
</div>
<div class="faq row">
    <div class="centered">
        <h1 class="title">FAQ</h1>
        <h2 class="small">Frequently Asked Questions</h2>
    </div>
    <hr>
    <div class="spacer"></div>

    <div class="question">
        <div class="title">How do I get started with Textto?</div>
        <div class="answer">
            <ol>
                <li>Download the <a href="https://play.google.com/store/apps/details?id=com.moduloapps.textto">Android app</a></li>
                <li>Sign into the Android app with your Google account.</li>
                <li>Visit <a href="https://textto.io/login">https://textto.io/login</a> and sign in with the same Google account.</li>
                <li>You're all done! Enjoy texting!</li>
            </ol>
        </div>
    </div>

    <div class="question">
        <div class="title">How much does Textto cost?</div>
        <div class="answer">Textto is free to use! Standard messaging rates from your carrier will still apply!</div>
    </div>

    <div class="question">
        <div class="title">I don't see any of my messages.</div>
        <div class="answer">
            Make sure you've logged into the same Google account on both the Android app and our website.
            Make sure your Android device is connected to the internet.
            If you still don't see your messages, hit 'Sync Messages' on the Android app.
        </div>
    </div>

    <div class="question">
        <div class="title">I've changed a contact but still see the old one online.</div>
        <div class="answer">Open the side navigation bar on the Textto website and click on 'Sync Contacts'.</div>
    </div>

    <div class="question">
        <div class="title">How do I download the Desktop application?</div>
        <div class="answer">The desktop application is almost ready! Hang on and we'll email you when it is available.</div>
    </div>

    <div class="question">
        <div class="title">Why can't I see my old messages?</div>
        <div class="answer">To save of storage fees and pass those savings onto you, we only sync your recent messages.</div>
    </div>

    <div class="question">
        <div class="title">How do I send emojis?</div>
        <div class="answer">Click on the <i class="material-icons">tag_faces</i> icon on the send-box. From there, you can search for emojis!</div>
    </div>

    <div class="question">
        <div class="title">How do I send pictures?</div>
        <div class="answer">Click on the <i class="material-icons">attach_file</i> icon on the send-box. Now, select an image from your computer and hit send.</div>
    </div>

    <div class="question">
        <div class="title">My messages are not sending.</div>
        <div class="answer">
            <ol>
                <li>Is your computer and Android device connected to the internet?</li>
                <li>Are you signed into the same Google account on both the computer and your Android device?</li>
                <li>Is your phone in service?</li>
                <li>If you still can't send messages, <a href="mailto:help@textto.io">contact us</a> and we'll help you figure it out!</li>
            </ol>
        </div>
    </div>

    <div class="question">
        <div class="title">I've found a bug!</div>
        <div class="answer">Uh oh, please <a href="mailto:help@textto.io">let us know</a> so we can fix it!</div>
    </div>

    <div class="question">
        <div class="title">I wish you would add this feature!</div>
        <div class="answer">We want to make Textto the best texting app out there. <a href="mailto:help@textto.io">Let us know</a> and we'll look into adding it!</div>
    </div>

</div>
