{{navigation-bar hide='faq'}}
<div class="faq row">
    <div class="centered">
        <h1 class="title">FAQ</h1>
        <h2 class="small">Frequently Asked Questions</h2>
        <h2 class="small">Email any additional questions to <a href='mailto:help@textto.io'>help@textto.io</a></h2>
    </div>
    <hr>
    <div class="spacer"></div>
    <div class="questions">


        {{#each model as |section|}}
            <div class="section">
                {{section.section}}
            </div>
            {{#each section.questions as |q|}}
                <div class="question">
                    <div class="title">{{q.title}}<i class="material-icons">keyboard_arrow_down</i></div>
                    <div class="answer">{{{q.answer}}}</div>
                </div>
            {{/each}}
        {{/each}}
    </div>

</div>
